.header__menu-list_item:hover
    color: #000000 !important
    transition: all .35s !important
    

.quizes__item:hover
    color: #000000 !important
    font-size: 24px !important
    width: 100% !important
    -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75) !important
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75) !important
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75) !important
    transition: all .35s !important   

.header__button-link:hover
    color: #000000 !important
    transition: all .35s !important

.quiz__leave-button:hover
    span
        color:#000 !important
        transition: all .35s !important
    img
        opacity: 1 !important
        transition: all .35s !important

.leave__confirm-yes:hover
    box-shadow: 0px 0px 5px 0px rgba(87,84,87,1) !important
    transition: all .25s

.leave__confirm-no:hover
    box-shadow: 0px 0px 5px 0px rgba(87,84,87,1) !important
    transition: all .25s


.preview-block__btn
  max-width: 350px
  margin-top: 35px

.custom-btn
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-flow: row nowrap
  flex-flow: row nowrap
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  width: 100%
  height: 58px
  padding-top: 2px
  border: none
  border-bottom: 2px solid #E8340E
  border-radius: 6px
  position: relative
  text-align: center
  text-transform: uppercase
  cursor: pointer
  overflow: hidden
  background: #fa4923
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fa4923), to(#ffbb00))
  background: linear-gradient(to right, #fa4923 25%, #ffbb00)
  -webkit-box-shadow: 0px 9px 16px 0px rgba(250, 73, 35, 0.25)
  box-shadow: 0px 9px 16px 0px rgba(250, 73, 35, 0.25)
  -webkit-transition: ease 0.3s
  transition: ease 0.3s

.custom-btn:before
  content: ""
  display: block
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  background: #fa4923
  opacity: 0
  z-index: 1
  -webkit-transition: ease 0.3s
  transition: ease 0.3s

.custom-btn:after
  content: ""
  display: block
  width: 30px
  height: 300px
  margin-left: 60px
  background: #fff
  position: absolute
  left: -40px
  top: -150px
  z-index: 1
  -webkit-transform: rotate(45deg)
  transform: rotate(45deg)
  -webkit-transition: all 0.1s
  transition: all 0.1s
  -webkit-animation-name: slideme
  animation-name: slideme
  -webkit-animation-duration: 3s
  animation-duration: 3s
  -webkit-animation-delay: 0.05s
  animation-delay: 0.05s
  -webkit-animation-timing-function: ease-in-out
  animation-timing-function: ease-in-out
  -webkit-animation-iteration-count: infinite
  animation-iteration-count: infinite

@-webkit-keyframes slideme
  0%
    left: -30px
    margin-left: 0px

  30%
    left: 110%
    margin-left: 80px

  100%
    left: 110%
    margin-left: 80px

.onoffswitch
  position: relative
  width: 30px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none

.onoffswitch-checkbox
  position: absolute
  opacity: 0
  pointer-events: none

.onoffswitch-label
  display: block
  overflow: hidden
  cursor: pointer
  width: 30px
  height: 14px
  border: 2px solid #999999
  border-radius: 20px

.onoffswitch-inner
  display: block
  width: 200%
  margin-left: -100%
  transition: margin 0.15s

  &:before, &:after
    display: block
    float: left
    width: 30px !important
    height: 14px
    padding: 0
    line-height: 30px
    font-size: 10px
    color: white
    font-family: Trebuchet, Arial, sans-serif
    font-weight: bold
    box-sizing: border-box

  &:before
    content: ""
    padding-left: 10px
    background-color: #D13980
    color: #FFFFFF

  &:after
    content: ""
    padding-right: 10px
    background-color: #EEEEEE
    color: #999999
    text-align: right

.onoffswitch-switch
  display: block
  height: 19px
  width: 19px
  margin: -4.5px
  background: #FFFFFF
  position: absolute
  top: 2px
  bottom: 0
  left: 0px
  border: 2px solid #999999
  border-radius: 20px
  transition: all 0.15s

.onoffswitch-checkbox:checked + .onoffswitch-label
  .onoffswitch-inner
    margin-left: 0

  .onoffswitch-switch
    left: 20px



.finalForm__codes-list_item:hover
    background-color: #e6e6e6



.create__quiz-name-cancel:hover
  background-color: #ececec !important
  transition: all .35s



.create__image-tool:hover
  background: #eaeaea

.create__choose-type_item:hover
  .create__choose-type-item-img_wrapper
    background: #f2f2f2 !important
    transition: all .25s 




.create__save_button:hover, .create__out_button:hover
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,1) !important
  
    