@font-face
  font-family: Montserrat-Bold
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf)

@font-face
  font-family: Montserrat-Regular
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf)

@font-face
  font-family: Montserrat-Medium
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf)

@font-face
  font-family: Montserrat-Light
  src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf)

@font-face
  font-family: Gilroy-Light
  src: url(../assets/fonts/Gilroy/Gilroy-Light.otf)

@font-face
  font-family: Gilroy-Bold
  src: url(../assets/fonts/Gilroy/Gilroy-ExtraBold.otf)

@font-face
  font-family: Gilroy-Regular
  src: url(../assets/fonts/Gilroy/Gilroy-Regular.ttf)

@font-face
  font-family: Gilroy-Medium
  src: url(../assets/fonts/Gilroy/Gilroy-Medium.ttf)



//---------Landing--------------

body 
  height: 100vh

.landing
  width: 90%
  position: absolute
  right:0

.landing > *
  cursor: default

.landing__wrapper
  display: flex

.landing__headline 
  font-size: 40px
  font-family: Gilroy-Light
  margin: 40px 0 25px 0

.landing__inner-columns
  display: flex

.landing__number
  width: 48px
  height: 48px
  border: 1px solid #d13980
  border-radius: 55%
  display: inline-flex
  align-items: center
  justify-content: center
  font-family: "Gilroy-Light"
  color:#d13980
  font-size: 24px
  

.landing__second-inner-column
  padding: 15px 0 0 15px
  width: 90%

.landing__inner-headline
  display: inline-block
  color:#d13980
  font-family: "Gilroy-Light"
  font-size: 18px
  margin-bottom: 25px

.landing__list-item
  font-family: "Gilroy-Light"
  font-size: 16px
  color:#69748c
  display: flex
  align-items: top
  margin: 20px 20px 20px 0
  img
    width: 17px
    height: 14px
  div
    margin-left: 10px
    text-align: justify
    
.landing__integrate
  font-family: Gilroy-Light
  font-size: 18px
  color:#000
  margin: 35px 0 25px 0

.landing__integrate-examples
  width: 100%
  img
    width: 100%
  
.landing__first-column
  width: 40%


.landing__column-headline
  font-family: Gilroy-Light
  font-size: 16px
  display: block

.landing__span
  font-family: Gilroy-Bold
  display: block
  margin: 15px 0

.landing__test-button_block
  margin-top: 20px
  width: 240px
  text-align: center
  font-family: "Gilroy-Light"
  
  .landing__test-button
    width: 240px
    border:1px solid #fdcd32
    border-radius: 50px
    padding: 5px
    background: #fdcd32
    font-size: 16px
    cursor: pointer
    a
      display: flex
      justify-content: space-around
      align-items: center
      text-decoration: none
      color:#000
      .landing__test-button *
        cursor: text
      img
        width: 33px
        height: 33px
  .landing__test-button-sub
    cursor: default
    


.landing__second-column
  display: flex
  align-items: center
  width: 60%

.landing__second-column img
  width: 100%


//---------main--------------
.main
  background-image: url(../assets/images/bg.png)
  background-size: cover
  background-repeat: repeat
  height: 100vh
  width: 100%
.header
  height: 100px
  padding: 0 50px
  display: flex
  align-items: center
  .header__logo_block
    display: flex
    align-items: center
    padding: 15px
    a
      img
        width: 120px
    .header__tagline
      width: 150px
      font-family: "Gilroy-Light"
      color:#69748c
      font-size: 12px
      margin: 0 25px
      cursor: default
  
  .header__menu
    margin-left: 150px
    .header__menu-list
      display: flex
      list-style-type: none
      position: relative
      .header__menu-list_item
        cursor: pointer
        display: flex
        font-size: 14px
        font-family: "Gilroy-Light"
        color: #69748c
        align-items: center
        margin: 0 15px
        transition: color .35s, font-size .35s
        .header__button
          position: absolute
          right:35px
          background-color: #fff
          border-radius: 30px
          border:1px solid #9e4388
          .header__button-link
            display: block
            padding: 10px
            text-decoration: none
            color: #69748c
            transition: color .35s
        .header__button-replace
          background-color: #fff
          padding: 10px
          border-radius: 30px
          visibility: hidden
        
  
.quizes_block
  width: 50%
  padding: 50px
  .quizes__item
    width: 90%
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
    border-radius: 15px
    font-family: "Gilroy-Light"
    font-size: 22px
    padding: 25px 25px
    margin: 25px
    color: gray
    cursor: pointer
    transition: all .35s


.quiz
  height: 100vh
  .quiz__quizHeadline_block
    margin: 15px
    .quiz__leave-button
      display: flex
      outline: none
      text-align: left
      justify-content: left
      text-decoration: none
      align-items: center
      img
        width: 15px
        transform: rotate(180deg)
        opacity: 0.5
        transition: opacity .35s
      span
        color:#746f6f
        margin: 2px 0 0 5px
        font-family: "Gilroy-Light"
        font-size: 16px
        transition: color .35s
    .quiz__quizHeadline
      font-family: "Gilroy-Light"
      margin: 10px 0
      font-size: 36px
  .quiz__main
    .quiz__warning 
      position: absolute
      z-index: 10
      cursor: default
      right: 100px
      bottom: 100px
      width: 150px
      height: 50px
      text-align: center
      background-color: #bf3a93
      -webkit-border-radius: 30px
      -moz-border-radius: 30px
      padding: 5px
      border-radius: 30px
      -webkit-box-shadow: 2px 2px 4px #888
      -moz-box-shadow: 2px 2px 4px #888
      box-shadow: 2px 2px 4px #888
      display: none
      .quiz__warning-text
        font-family: "Gilroy-Light"
        color:#fff
    .quiz__warning:before 
      content: ' '
      position: absolute
      width: 0
      height: 0
      right: 25px
      top:50px
      border: 10px solid
      border-color: #bf3a93 #bf3a93 transparent transparent

    .quiz__questions_block
      .textQuiz
        padding: 0 20px
        .textQuiz__headline
          font-family: "Gilroy-Light"
          font-size: 24px
          margin: 20px 0
        .textQuiz__answers
          width: 100%
          display: flex
          flex-wrap: wrap
          justify-content: space-between
          .textQuiz__answer_choosen
            border:1px solid #bf3a93 !important
            color: #bf3a93
            font-size: 20px !important
          .textQuiz__answer_block
            border-radius: 5px
            width: 48%
            margin: 10px 0
            border:1px solid #f4f4f4
            font-family: "Gilroy-Light"
            font-size: 18px
            .textQuiz__text
              .textQuiz__text-input
                width: 100%
                outline: none
                color: gray
              .textQuiz__text-input:focus
                border-bottom:1px solid black
            label
              cursor: pointer
              padding: 15px
              display: block
              width: 100%
              height: 100%
            input
              margin: 0 10px 0 0

      .quiz__nextQuestion_button
        position: absolute
        right: 35px
        bottom: 35px
        background-color: #c73393
        font-family: "Gilroy-Light"
        border-radius: 20px
        color:#fff
        display: flex
        padding: 10px 15px
        outline: none
        img
          width: 25px

      .quiz__previousQuestion_button
        position: absolute
        left: 35px
        bottom: 35px
        border-radius: 20px
        padding: 10px 15px
        display: flex
        align-items: center
        box-shadow: 0px 0px 15px 0px rgba(194,184,194,1)
        font-family: "Gilroy-Light"
        outline: none
        img
          width:25px
          transform: rotate(180deg)
          margin:0 10px 0 0
        
  .quiz__leave-confirm_block
    display: none
    top:0
    z-index: 25
    position: fixed
    width: 100%
    height: 100vh
    background-color: rgba(245,245,245,0.8)
    backdrop-filter: blur(2px)
    .quiz__leave_wrapper
      position: absolute
      top: calc(50% - 125px)
      left: calc(50% - 250px)
      background-color: white
      width: 500px
      height: 250px
      border: 1px solid black
      border-radius: 25px
      display: flex
      align-items: center
      justify-content: space-around
      flex-direction: column
      padding: 10px
      .quiz__leave-confirm_headline
        font-family: "Gilroy-Light"
        font-size: 34px
        text-align: center
      .quiz__leave-buttons
        width: 40%
        display: flex
        justify-content: space-between
        font-family: "Gilroy-Light"
        .leave__confirm-yes
          font-size: 22px
          padding: 2px 10px 
          border-radius: 4px
          box-shadow: none
          outline: none
          text-decoration: none
          color:#000
          transition: box-shadow .25s
        .leave__confirm-no
          font-size: 22px
          padding: 2px 10px 
          border-radius: 4px
          box-shadow: none
          outline: none
          transition: box-shadow .25s


.finalForm
  width: 100%
  height: 100vh
  background: #f8f8f8
  display: flex
  align-items: center
  justify-content: center
  .finalForm__subwrapper
    width: 980px
    height: 95%
    display: flex
    justify-content: center
    align-items: center
    background: #ededed
    opacity: 0.9
    box-shadow: 0px 0px 4px 0px #eaeaea
    .finalForm__wrapper
      width: 99%
      height: 99%
      background: #fff
      .finalForm__headline
        font-family: "Gilroy-Light"
        font-size: 28px
        width: 50%
        margin: 25px auto 70px auto
        text-align: center
      .finalForm__form_block
        margin: 0 auto
        width: 640px
        border: 1px solid #e8e8e8
        box-shadow: 0px 0px 2px 0px rgba(219,219,219,1)
        padding: 25px
        .finalForm__form
          width: 90%
          .finalForm__field_block
            width: 100%
            margin: 10px 0
            .finalForm__tip
              font-family: "Gilroy-Light"
              color: rgba(54,54,54,0.7)
              text-transform: uppercase
              display: block
              margin:5px
            .finalForm__field_wrapper
              border:1px solid #dfdfdf
              border-radius: 5px
              height: 60px
              font-size: 18px
              display: flex
              .finalForm__selector-window *
                
              .finalForm__selector-window
                height: 100%
                border-right: 1px solid #e1e1e1
                width: 120px
                cursor: pointer
                position: relative
                .finalForm__country-word
                  font-family: "Gilroy-Light"
                  font-size: 14px
                  color: gray
                  margin: 0 5px
                .finalForm__code_block
                  padding: 0 10px
                  font-family: "Gilroy-Light"
                  display: flex
                  justify-content: space-between
                  .finalForm__code_subblock
                    .finalForm__arrow
                      width: 10px
                      cursor: pointer
                  .finalForm__country-flag
                    width: 25px
                    height: 15px
                    margin-right: 5px 
                .finalForm__codes-list_block
                  position: absolute
                  z-index: 10
                  top:60px
                  width: 230px
                  height: 210px
                  background: #fff 
                  overflow-y: scroll
                  overflow-x: hidden
                  font-family: "Gilroy-Light"
                  font-size: 14px
                  .finalForm__codes-list
                    .finalForm__codes-list_item_choosen
                      background: #1e90ff 
                    .finalForm__codes-list_item
                      padding: 5px 5px
                      .finalForm__codes-list-flag-icon
                        width: 25px
                        height: 15px
                      .finalForm__codes-list-counry
                        margin: 0 0 0 10px
              .finalForm__field-icon_wrapper
                display: flex
                align-items: center
                height: 100%
                padding: 0 25px
                .finalForm__icon
                  width: 24px
              .finalForm__input_wrapper
                width: 100%
                padding: 0 10px
                .finalForm__input
                  width: 100%
                  padding: 0 5px
                  font-family: "Gilroy-Light"
                  height: 100%
                  outline: none
            .finalForm__number_block
              display: flex
              .finalForm__coutry-number-code
                padding: 0 25px
              .finalForm__input
                padding: 5px
          .finalForm__button_wrapper
            margin: 15px 0
            button
              border-radius: 6px
              background: #d34085
              width: 100%
              height: 50px
              font-family: "Gilroy-Light"
              font-size: 22px
              color:#fff
              .finalForm__checkicon
                margin: 0 10px
                width: 18px
                filter: invert(100%)
            
          .finalForm__politics
            font-family: "Gilroy-Light"
            .finalForm__checkbox
              margin-right: 5px
            .finalForm__text
              
              .finalForm__link
                color: #d34085


            



.swiper-wrapper
  padding: 15px 0 45px 0
  

.swiper-pagination
  bottom: 10px !important
  z-index: 2 !important

.swiper-button-prev
  background-color: #dbdbdb
  border-radius: 55%
  width: 44px !important
  padding: 20px 0 !important
  top: calc(50% - 22px) !important
  height: 100px
.swiper-button-prev:after
  color: #ca4c9d !important
  font-size: 14px !important
  z-index: 4 !important

.swiper-button-next
  background-color: #dbdbdb
  border-radius: 55%
  width: 44px !important
  padding: 20px 0 !important
  top: calc(50% - 22px) !important
  height: 100px
.swiper-button-next:after
  color: #ca4c9d !important
  font-size: 14px !important
  z-index: 4 !important

.imgQuiz
  padding: 0 20px 

.imgQuiz__headline
  font-family: "Gilroy-Light"
  margin: 20px 0
.imgQuiz__item
  position: relative
  box-shadow: 0px 0px 5px 1px rgba(117,113,117,1)
  border-radius: 5px
  margin: 0 10px
  border: 1px solid #f1f1f1
  cursor: pointer
  .imgQuiz__radio_block
    position: absolute
    text-align:right
    right: 5px
    top:5px
    cursor: pointer
  .imgQuiz__img_wrapper
    display: flex
    justify-content: center
    background-color: #f7f7f7
    padding: 45px 0
    cursor: pointer
    .imgQuiz__img
      width: 150px
    cursor: pointer
  .imgQuiz__text-block
    font-family: "Gilroy-Light"
    font-size:18px
    padding: 25px 10px
    cursor: pointer

.imgQuiz__answer_choosen
  border:2px solid #c83493
  box-shadow: none !important


.rangeQuiz
  padding: 0 20px
  .rangeQuiz__headline
    margin: 20px 0
    font-family: "Gilroy-Light"
  .rangeQuiz__block
    margin: 70px 0
    display: flex
    justify-content: space-between
    padding: 0 10px
    font-family: "Gilroy-Light"
    font-size: 18px
    .rangeQuiz__range
      width: 93% !important
      color:#c83493


.slider
  height: 8px !important
  background-color: #df81be !important  

.slider-tooltip:before
  color: #c83493 !important
  
.slider-tooltip
  background-color: #c83493 !important
  color: #fff !important
  border: none !important
  
.slider-process
  background-color: #c83493 !important
  


.progressBar
  .progressBar_block
    padding: 0 15px
    .progressBar__completed
      font-family: "Arial"
      color: #888585
      display: block
      margin: 15px 0
      .progressBar__completed_number
        font-family: "Gilroy-Bold"
        color: #c83493
        font-size: 18px
    .progressBar__wrapper
      
      .progressBar__bar



.v-progress-linear__buffer

.v-progress-linear__determinate
  border-radius: 5px !important
  opacity: 1 !important
  background: #ba669c !important
  transition: width .35s

.v-progress-linear__background 
  border-radius: 5px !important
  opacity: .5 !important
  background: #dbdbdb !important



.create
  .create__quiz-name_block_wrapper
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.7)
    .create__quiz-name_block
      background: #fff
      border-radius: .3em
      width: 470px
      padding: 15px

      .create__quiz-name_headline_block
        margin: 5px 0
        .create__quiz-name_headline
          font-size: 12px
          font-family: "Gilroy-Light"
          text-transform: uppercase
      .create__quiz-name-input_block
        width: 100%
        .create__quiz-name-input
          border: 1px solid #d2d4d8
          padding: 0 10px
          height: 40px
          font-family: "Gilroy-Light"
          font-size: 20px
          width: 100%
          outline: none
          border-radius: .3em
      .create__quiz-name-buttons_block
        display: flex
        justify-content: center
        padding: 10px
        .create__quiz-name-cancel
          border: 1px solid #d2d4d8
          background-color: #ffffff
          color: #69748c
          text-decoration: none
          transition: background .35s
        .create__quiz-name-create
          background-color: #d13980
          color: #fff
        button, a
          border-radius: .3em
          padding: 10px
          outline: none
          margin: 0 15px
          font-family: "Gilroy-Light"
          font-size: 14px

.create__header
  .create__header_wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 30px
    .create__logo_block
      img
        width: 120px
    .create__you_block
      overflow: hidden
      border-radius: 55%
      box-shadow: 0px 0px 5px 0px rgba(115,115,115,1)
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      img
        width: 100%

.create__main
  .create__main_wrapper
    background: #1e1e3e
    width: 100%
    min-height: 100vh
    padding-bottom: 64px
    display: flex
    .create__navbar
      padding: 15px 10px
      width: 20%
      background: #000
      .create__creating_text
        font-family: "Arial"
        color: #ffffff
        opacity: .5
        text-transform: uppercase
        letter-spacing: 2px
        font-size: 10px
      .create__menu
        
        .create__menu-item_wrapper
          width: 100%
          display: flex
          align-items: center
          align-items: center
          cursor: pointer
          margin: 10px 0
          .create__menu-number_block
            display: block
            padding: 5px 10px
            border-radius: 55%
            background: #d13980
            margin: 0 5px
            .create__menu-number
              font-family: "Gilroy-Light"
              color: #fff
              font-size: 10px
          .create__menu-item_block
            margin: 0 5px
            .create__menu-item
              font-family: "Gilroy-Light"
              color: #fff
          .create__menu-edit_block
            .create__edit_icon
              width: 13px
    .create__main
      width: 80%
      color: #fff
      .create__main_wrapper
        display: block
        padding: 15px
        font-family: "Gilroy-Medium"
        .create__quiz-name_block
          .create__quiz-name__headline
            h2
              color: rgba(255, 255, 255, 0.5)
              margin: 10px 0 15px 0
          .create__name__input
            display: none
        .create__main-quiz-type
          border-radius: 5px
          overflow: hidden
          width: 70%
          background: #fff
          margin: 15px 0
          .create__quiz-type_header
            padding: 15px
            display: flex
            color: #000
            width: 100%
            align-items: center
            justify-content: space-between
            position: relative
            left: -15px
            z-index: 15
            .create__header-blocker
              position: absolute
              background: rgba(0, 0, 0, 0.5)
              width: 100%
              height: 100%
            .create__main-quiz-type-header_item
              display: flex
              margin: 0 10px
              .create__main-quiz-type_number
                margin: 0 16px 0 0
                font-size: 18px
              .create__main-quiz-type_choose
                font-size: 18px
            .create__toolbar
              display: flex
              align-items: center
              .create__header-blocker-checkbox_block
                z-index: 16
                .create__header-blocker-checkbox
                  
              .create__toolbar_item
                margin: 0 5px
                
                img
                  width: 18px
                  height: 18px
              .create__image-tool
                cursor: pointer
                padding: 4px
                border-radius: 3px
                display: flex
                align-items: center
                justify-content: center
          .create__choose-type_block
            color: #69748C
            padding: 10px
            .create__choose-type_wrapper
              display: flex
              padding: 0 0 15px 0
              .create__choose-type_item
                border: 1px solid #eaedf3
                border-radius: 4px
                width: 22%
                margin: 0 10px
                cursor: pointer
                .create__choose-type-item-img_wrapper
                  display: flex
                  justify-content: center
                  align-items: center
                  padding: 35px 0
                  background: #f7f7f7
                  transition: background .25s
                  img
                    height: 38px
                .create__choose-type-item-label_wrapper
                  text-align: center
                  padding: 15px
                  .create__choose-type-item-label

          .create__range
            color: #000
            padding: 0 15px 15px 15px
            .create__question-name_input_block
              span
                letter-spacing: 2px
                text-transform: uppercase
                font-size: 10px
                display: block
                margin: 5px 2px
              input
                border: 1px solid #d2d4d8
                border-radius: 5px
                width: 100%
                height: 40px
                font-size: 18px
                outline: none
                padding: 0 10px
              input:focus
                border: 1px solid #76c7dd
            .create__range-form
              .create__range-form_headline
                display: block
                margin: 10px 0
                font-size: 14px
                justify-content: space-between
                align-items: center
              .create__range-range-inputs_block
                display: flex
                input
                  width: 49%
                  height: 40px
                  border: 1px solid #d2d4d8
                  border-radius: 5px
                  padding:0 10px
                  outline: none
                input:focus
                  border: 1px solid #76c7dd
                span
                  margin: 0 5px
                  display: flex
                  align-items: center
              .create__range-step-input_block
                span
                  display: block
                  margin: 10px 0
                input
                  outline: none
                  width: 49%
                  height: 40px
                  border: 1px solid #d2d4d8
                  border-radius: 5px
                  padding:0 10px
                  outline: none
                input:focus
                  border: 1px solid #76c7dd
              .create__range-save-button_block
                position: relative
                text-align: right
                .create__range-save-button
                  padding: 10px
                  background: #d13980
                  border-radius: 5px
                  color: #f2f2f2
          .create__checkbox
            color: #000   
            padding: 10px 15px
            .create__question-name_input_block
              span
                letter-spacing: 2px
                text-transform: uppercase
                font-size: 10px
                display: block
                margin: 5px 2px
              .create__question-name_input:focus
                border: 1px solid #76c7dd
              .create__question-name_input
                border: 1px solid #d2d4d8
                border-radius: 5px
                width: 100%
                height: 40px
                font-size: 18px
                outline: none
                padding: 0 10px
            .create__checkbox-input-block_wrapper
              display: flex
              .create__checkbox-input-block
                border: 1px solid #d2d2d2
                display: flex
                justify-content: space-between
                padding: 10px
                border-radius: 5px
                margin: 5px 0
                width: 100%
                align-items: center
                .create__checkbox-input
                  outline: none
                  width: 100%
                .create__checkbox-icons
                  display: flex
                  img
                    width: 18px
                    height: 18px
                    margin: 0 5px
                    cursor: pointer
              .create__checkbox-drag-and-drop-img_block
                display: flex
                align-items: center
                margin: 0 0 0 5px
                .create__checkbox-drag-and-drop-img
                  cursor: pointer
                  width: 18px
                  height: 18px
            .create__checkbox-answer-add:hover
              .create__checkbox-add
                text-decoration: underline
            .create__checkbox-answer-add
              margin: 10px 0
              color: #d13980
              cursor: pointer
              .create__checkbox-add
                display: inline-block
                vertical-align: center
              .create__checkbox-plus
                display: inline-block
                vertical-align: center
              span
                margin: 0 5px 0 0
            .create__checkbox-save-button_block
              position: relative
              text-align: right
              .create__checkbox-save-button
                padding: 10px
                background: #d13980
                border-radius: 5px
                color: #f2f2f2
          
                
      

  .create__add-question_button
    cursor: pointer
    display: flex
    justify-content: space-around
    align-items: center
    width: 195px
    padding: 5px 0
    background: #d13980
    border-radius:5px
    margin:15px 0
    .create__add-question_span_text
    .create__add-question_span_plus
      font-size: 26px 


.create__footer
  background: #ffffff
  position: fixed
  bottom: 0
  width: 100%
  padding: 15px
  z-index: 17
  .create__footer_wrapper
    button *, a *
      margin: 0 5px
    button, a
      padding: 5px 10px
      display: inline-flex
      align-items: center
      justify-content: center
      font-family: "Gilroy-Bold"
      color: #f2f2f2
      border-radius: 4px
      margin: 0 15px
      outline: none
      text-decoration: none
    .create__save_button
      background: #3bad4b
    .create__out_button
      background: #d13980

.create__contacts
  font-family: "Gilroy-Regular"
  color: #000
  .create__contacts_wrapper
    margin:20px
    padding: 20px
    background: #ffffff
    border-radius: .3em
    h2
      margin: 0 0 15px 0
    .create__switches_block
      border: 1px solid
      background-color: #efefef
      border: 1px solid #ccc
      width: 400px
      .create__switch
        margin: 15px
        font-size: 20px