<template>
    <div class="landing">
        <h1 class="landing__headline">Что такое квиз-маркетинг?</h1>
        <div class="landing__wrapper">
          <div class="landing__first-column">
              <h2 class="landing__column-headline">Это новый инструмент для получения лидов с сайта</h2>
              <span class="landing__span">Суть очень простая:</span>
              <div class="landing__inner-columns">
                  <div class="landing__first-inner-column">
                    <span class="landing__number">1</span>
                    
                  </div>
                  <div class="landing__second-inner-column">
                  <h3 class="landing__inner-headline">Предлагаете посетителю пройти тест</h3>
                      <div v-for="item in list" :key="item.id" class="landing__list-item">
                        <img src="https://uploads-ssl.webflow.com/5adb18f797c69778e81b7f73/5c1082cb1e1ac7c07dc700ff_checked-roz.svg">
                        <div>{{item.text}}</div>
                      </div>
                      <div class="landing__integrate"><span>Легко интегрировать с конструкторами:</span></div>
                      <div class="landing__integrate-examples">
                        <img src="https://uploads-ssl.webflow.com/5adb18f797c69778e81b7f73/5c64eec739e7191c2cb05cb8_optimized_construcotori.png">
                      </div>
                      <div class="landing__test-button_block">
                        <div class="landing__test-button">
                          <a href="/main">
                            <img src="https://uploads-ssl.webflow.com/5adb18f797c69778e81b7f73/5bc9aa84eae49f0fc1715300_icon-test.svg">
                            <span class="landing__test-button_text">Пройти тестовый квиз</span>
                          </a>
                        </div>
                        <span class="landing__test-button-sub">Дарим 50 заявок на баланс</span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="landing__second-column">
            <img src="https://uploads-ssl.webflow.com/5adb18f797c69778e81b7f73/5c64ef0239e7191f66b05cd9_optimized_new-step-1.png">
          </div>
        </div>
    </div>
</template>

<script>
import "../styles/main.sass"
export default {
  name: 'App',
  components: {
    
  },
  data:function() {
    return {
      list: [
        {
          id: 0,
          text: "Создаёте 5-7 вопросов для клиентов с вариантами ответов в системе"
        },
        {
          id: 1,
          text: "Готовый тест(он же называется 'квиз') устанавливаете на сайт по простой инструкции или в приложении ВКонтакте"
        },
        {
          id: 2,
          text: "Делитесь прямой, уникальной ссылкой на квиз"
        }
      ]
    }  
  },
  created:function() {
      console.log(5)
  },
  methods: {
    func: function() {
      
    }
  }
}
</script>

<style>
</style>