<template>
  <div class="app">
    <div class="main" v-if="!isQuizNow">
      <header>
        <div class="header">
          <div class="header__logo_block">
            <a href="/"><img src="../assets/images/logo.png" class="header__logo-img"></a>
            <div class="header__tagline">
              <span class="header__tagline-text">Конструктор маркетинговых квизов</span>
            </div>
          </div>
          
          <div class="header__menu">
            <ul class="header__menu-list">
              <li class="header__menu-list_item"><span>Возможности</span></li>
              <li class="header__menu-list_item"><span>Тарифы</span></li>
              <li class="header__menu-list_item"><span>Блог</span></li>
              <li class="header__menu-list_item"><img src="https://uploads-ssl.webflow.com/5adb18f797c69778e81b7f73/5aeb16accbf3937104000be8_account-outline.svg"><span>Личный кабинет</span></li>
              <li class="header__menu-list_item"><div class="header__button-replace">Создать квиз</div></li>
              <li class="header__menu-list_item"><div class="header__button"><a href="/create" class="header__button-link">Создать квиз</a></div></li>
            </ul>
          </div>
        </div>
      </header>
      <main>
        <div class="main__wrapper">
          <div class="quizes_block">
            <div class="quizes__item" v-for="(item, i) in quizes" :key="'A' + i" :data-id="item.id" @click="quizInit">
              <span :data-id="item.id">{{item.title}}</span>
            </div>
          </div>
        </div>
        
      </main>
    </div>
    <div class="quiz" v-if="isQuizNow">
      <header class="quiz__quizHeadline_block" v-if="!currentQuiz.final">
        <button @click="leaveQuiz" data-log="1" class="quiz__leave-button">
          <img src="../assets/images/out.png" data-log="1">
          <span data-log="1">Выйти из квиза</span>
        </button>
      </header>
      <div v-if="!currentQuiz.final" class="quiz__main">

        <div class="quiz__warning">
          <span class="quiz__warning-text">Выберете вариант ответа</span>
        </div>

        <div class="quiz__questions_block" v-for="(value, i) in currentQuiz.questions" :key="i">
          <textQuiz class="quiz__textQuiz" :progress="progress" :question="value" v-if="value.type == 'text' && value.isActive"/>
          <imgQuiz class="quiz__imgQuiz" :progress="progress" :question="value" v-if="value.type == 'img' && value.isActive"/>
          <rangeQuiz class="quiz__sliderQuiz" :progress="progress" :question="value" v-if="value.type == 'range' && value.isActive"/>
          
          

          <button class="quiz__nextQuestion_button" @click="nextQuestion(value.id)" v-if="value.isActive">
            <img src="../assets/images/quiz_checkmark.png" alt="" v-if="!currentQuiz.isLastQuestion">
            <span v-if="!currentQuiz.isLastQuestion">Далее</span>
            <span v-else>Последний шаг</span>
          </button>
          <button class="quiz__previousQuestion_button" @click="previousQuiestion(value.id)" v-if="value.isActive">
            <img src="../assets/images/arrow.png">
            <span>Назад</span>
          </button>
        </div>
      </div>

      <div class="quiz__leave-confirm_block">
        <div class="quiz__leave_wrapper">
          <h2 class="quiz__leave-confirm_headline">Закончить? Вы уверены? Результат не сохранится</h2>
          <div class="quiz__leave-buttons">
            <a href="/main" class="leave__confirm-yes">Да</a>
            <button data-log="2" @click="leaveQuiz" class="leave__confirm-no">Нет</button>
          </div>
        </div>
      </div>

      <finalForm :result="currentQuiz" v-if="currentQuiz.final" class="quiz__finalForm"/>
      
    </div>
  </div>
</template>

<script>
// import {mapGetters} from 'vuex'
import "../styles/main.sass"
import "../styles/animations.sass"
import $ from "jquery"

import textQuiz from "../components/textQuiz"
import imgQuiz from "../components/imgQuiz"
import rangeQuiz from "../components/rangeQuiz"
import finalForm from "../components/finalForm"

export default {
  name: 'App',
  components: {
    textQuiz,
    imgQuiz,
    rangeQuiz,
    finalForm
  },
  data:function() {
    return {
      isQuizNow: false,
      currentQuiz: {},
      quizResults: {},
    }
  },
  computed: {
    quizes() {
      return this.$store.getters.allQuizes
    },
    progress() {
      let currentId
      $(this.currentQuiz.questions).each((id, elem)=>{
        (elem.isActive) && (currentId = id)
      })
      return Math.trunc((currentId / this.currentQuiz.questions.length) * 100)
    }
  },
  created() {
    
  },
  updated() {
    console.log(this.currentQuiz)
  },
  mounted() {
    console.log(this.quizes)
  },
  methods: {
    quizInit() {
      let quizNumber = event.target.dataset.id
      this.currentQuiz = this.quizes[quizNumber]
      this.isQuizNow = true
    },
    nextQuestion(position) {
      let questions = this.currentQuiz.questions
      if (questions[Number(position)].user_answer) {
          if (questions[Number(position + 1)]) {
          questions[Number(position)].isActive = false
          questions[Number(position + 1)].isActive = true
          if (!questions[Number(position + 2)]) {
            this.currentQuiz.isLastQuestion = true
          }
        } else {
          this.currentQuiz.final = true
        }
      } else {
        $(".quiz__warning").fadeIn()
        setTimeout(()=>{
          $(".quiz__warning").fadeOut()
        }, 2000)
      }
    },
    previousQuiestion(position) {
      let questions = this.currentQuiz.questions
      if (questions[Number(position - 1)]) {
        questions[Number(position)].isActive = false
        questions[Number(position - 1)].isActive = true
        this.currentQuiz.isLastQuestion = false
      } else {
        $(".quiz__leave-confirm_block").fadeIn()
      }
    },
    leaveQuiz() {
      let log = Number(event.target.dataset.log)
      if (log == 1) {
        $(".quiz__leave-confirm_block").fadeIn()
      } else {
        $(".quiz__leave-confirm_block").fadeOut()
      }
    }
  }
}
</script>


<style>
</style>