<template>
    <div class="finalForm">
      <div class="finalForm__subwrapper">
        <div class="finalForm__wrapper">
          <h1 class="finalForm__headline">Заполните форму, чтобы получить результаты теста</h1>


            <div class="finalForm__form_block">
              <form class="finalForm__form">
                <div class="finalForm__field_block">
                  <span class="finalForm__tip">Введите имя</span>
                  <div class="finalForm__field_wrapper">
                    <div class="finalForm__field-icon_wrapper"><img src="../assets/images/person.png" class="finalForm__icon"></div>
                    <div class="finalForm__input_wrapper">
                        <input type="text" class="finalForm__input" placeholder="Имя">
                    </div>
                  </div>
                </div>
                <div class="finalForm__field_block" v-if="result.formInformation.email">
                  <span class="finalForm__tip">Введите email</span>
                  <div class="finalForm__field_wrapper">
                    <div class="finalForm__field-icon_wrapper"><img src="../assets/images/letter.png" class="finalForm__icon"></div>
                    <div class="finalForm__input_wrapper">
                        <input type="text" class="finalForm__input" placeholder="mail@example.com">
                    </div>
                  </div>
                </div>
                <div class="finalForm__field_block" v-if="result.formInformation.number">
                  <span class="finalForm__tip">Введите телефон</span>
                  <div class="finalForm__field_wrapper">
                  <div class="finalForm__country-code_wrapper">
                    <div class="finalForm__selector-window" @click="openCodePanel">
                      <span class="finalForm__country-word">Страна</span>
                      <div class="finalForm__code_block">
                        <div class="finalForm__code_subblock">
                          <img class="finalForm__country-flag" :src="currentCode.flag">
                          <span class="finalForm__country-code">+{{currentCode.code}}</span>
                        </div>
                        <div class="finalForm__code_subblock">
                          <img class="finalForm__arrow" src="../assets/images/triangle_arrow.png">
                        </div>
                      </div>
                      <div class="finalForm__codes-list_block" v-show="isMenuOpen">
                        <div class="finalForm__codes-list">
                          <div class="finalForm__codes-list_item" v-for="(item, i) in codes" :key="i" :class="{'finalForm__codes-list_item_choosen': item.isActive}" @click="codeChoose" :data-id="i">
                            <img class="finalForm__codes-list-flag-icon" :src="item.flag" :data-id="i">
                            <span class="finalForm__codes-list-counry" :data-id="i">{{item.country}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="finalForm__input_wrapper finalForm__number_block">
                        <input type="text" class="finalForm__input finalForm__number-input" placeholder="Введите номер">
                    </div>
                  </div>
                </div>
                <div class="finalForm__button_wrapper">
                  <button class="custom-btn">
                    <img src="../assets/images/check_mark2.png" class="finalForm__checkicon">
                    <span>Получить результаты</span>
                  </button>
                </div>
                <div class="finalForm__politics">
                  <input type="checkbox" class="finalForm__checkbox">
                  <span class="finalForm__text">С <a href="#" class="finalForm__link">политикой конфиденциальности</a> знакомлен(а)</span>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
     
</template>

<script>
import "../styles/main.sass"
import "../styles/animations.sass"
import 'jquery-mask-plugin'
import $ from "jquery"


export default {
  name: 'App',
  props:{
    result: Object
  },
  components: {
    
  },
  data:function() {
    return {
      isMenuOpen: false,
      currentCode: {

      },
      codes: [
        {
          flag: "https://cdn.webshopapp.com/shops/94414/files/54940454/russia-flag-icon-free-download.jpg",
          code: "7",
          country: "Russia (Россия)",
          isActive: false
        },
        {
          flag: "https://cdn.webshopapp.com/shops/94414/files/54006608/germany-flag-icon-free-download.jpg",
          code: "49",
          country: "Germany (Deutschland)",
          isActive: false
        },
        {
          flag: "https://cdn.webshopapp.com/shops/94414/files/53449336/austria-flag-icon-free-download.jpg",
          code: "43",
          country: "Austria (Österreich)",
          isActive: false
        },
        {
          flag: "https://cdn.webshopapp.com/shops/94414/files/54002808/france-flag-icon-free-download.jpg",
          code: "33",
          country: "French",
          isActive: false
        },
        
      ]
    }
  },
  computed: {
      
  },
  created:function() {
    console.log(this.result)
  },
  mounted() {
    this.currentCode = this.codes[0]
    this.codes[0].isActive = true
    this.maskCreate()
  },
  methods: {
    openCodePanel() {
      this.isMenuOpen = !this.isMenuOpen
    },
    codeChoose() {
      let id = event.target.dataset.id
      this.currentCode = this.codes[id]
      $(this.codes).each((id, elem)=> {
        (elem.isActive) && (elem.isActive = false)
      })
      this.codes[id].isActive = true
      this.maskCreate()
    },
    maskCreate() {
      console.log(this.currentCode.code)
      $('.finalForm__number-input').mask(this.currentCode.code + ' (000) 000 00 00')
    },
    validateEmail() {
      //let email = $(".finalForm__email").val()
    //   if (/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)) {
    //     return true
    //   }
    //   return false
    // }
    //console.log(email)
    }
  },
}
</script>


<style>
</style>