<template>
    <div class="imgQuiz">
      <h2 class="imgQuiz__headline">{{question.question}}</h2>
      <progressBar :progress="progress"/>
      <swiper class="swiper" :options="swiperOption">
      <swiper-slide v-for="(item, i) in question.answers" :key="i">
        <div class="imgQuiz__item">
            <label>
              <div class="imgQuiz__radio_block">
                <input type="radio" name="img" :value="item.text" v-model="question.user_answer" class="imgQuiz__radio" @click="choosing()">
              </div>
              <div class="imgQuiz__img_wrapper"><img :src="item.img" alt="" class="imgQuiz__img"></div>
              <div class="imgQuiz__text-block">
                <span class="imgQuiz__text">{{item.text}}</span>
              </div>
              </label>
          </div>
      </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </div>
</template>

<script>

import "../styles/main.sass"
import $ from "jquery"
import progressBar from './progressBar'

export default {
  name: 'App',
  props:{
    question: Object,
    progress: Number
  },
  components: {
    progressBar
  },
  data:function() {
    return {
      swiperOption: {
          slidesPerView: 4,
          spaceBetween: 50,
          pagination: {
            el: '.swiper-pagination',
            clickable: true
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
        }
    }
  },
  computed: {
    
  },
  created:function() {
      
  },
  methods: {
    choosing() {  
      $(".imgQuiz__item").each((i, elem)=>{
        
        if (!$(elem).find(".imgQuiz__radio").prop("checked")) {
          
          $(elem).removeClass("imgQuiz__answer_choosen")
        } else {
          $(elem).addClass("imgQuiz__answer_choosen")
        }
      })
    }
  },
  mounted() {
    
  }
}
</script>



<style>
</style>