<template>
    <div class="progressBar">
      <div class="progressBar_block">
        <span class="progressBar__completed">Готово: <span class="progressBar__completed_number">{{progress}}%</span></span>
        <div class="pregressBar__wrapper">
          <v-progress-linear
            :active="active"
            :background-opacity="opacity"
            :bottom="bottom"
            :buffer-value="buffer"
            :height="height"
            :indeterminate="indeterminate"
            :query="query"
            :rounded="rounded"
            :stream="stream"
            :striped="striped"
            :top="top"
            :value="progress"
            color="light-blue"
            class="progressBar__bar"
          ></v-progress-linear>
        </div>
      </div>
    </div>
</template>

<script>
import "../styles/main.sass"
export default {
  name: 'App',
  props:{
    progress: Number
  },
  components: {
    
  },
  data:function() {
    return {
      absolute: false,
      active: true,
      opacity: 0,
      bottom: false,
      buffer: 100,
      fixed: false,
      height: 5,
      indeterminate: false,
      query: false,
      rounded: false,
      stream: false,
      striped: false,
      top: false,
    }
  },
  computed: {

  },
  created:function() {
    
  },
  methods: {
    func: function() {
      
    }
  }
}
</script>

<style>
</style>