<template>
    <div class="rangeQuiz">
        <h2 class="rangeQuiz__headline">{{question.question}}</h2>
        <progressBar :progress="progress"/>
        <div class="rangeQuiz__block">
          <span>{{question.min}}</span>

          <!-- <vue-range-slider ref="slider" :min="question.min" :step="question.step" :max="question.max" v-model="question.user_answer" class="rangeQuiz__range"></vue-range-slider> -->
         
          <vue-slider v-model="question.user_answer" :min="question.min" :max="question.max" :interval="question.step"/>
          
          <span>{{question.max}}</span>
    </div>
    </div>
</template>

<script>
import "../styles/main.sass"
import 'vue-range-component/dist/vue-range-slider.css'
// import VueRangeSlider from 'vue-range-component'
import progressBar from "./progressBar"
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
  name: 'App',
  props:{
    question: Object,
    progress: Number
  },
  components: {
    // VueRangeSlider,
    VueSlider,
    progressBar
  },
  data:function() {
    return {
      slider: 0
    }
  },
  computed: {

  },
  created() {
    this.question.user_answer = 5
    console.log(this.question.user_answer)
  },
  updated() {
    console.log(this.question.user_answer)
  },
  mounted() {
    
  },
  methods: {
    
  }
}
</script>

<style>
</style>