<template>
    <div class="textQuiz">
        <h2 class="textQuiz__headline">{{question.question}}</h2>
        <progressBar :progress="progress"/>
        <div class="textQuiz__answers">
            <div class="textQuiz__answer_block" v-bind:class="{textQuiz__answer_choosen: item.isActive}" v-for="item in question.answers" :key="item.id">
              <label>
                <div class="textQuiz__checkbox" v-if="item.type=='checkbox'">
                  <input type="radio" name="answer" :value="item.text" @click="choosing()" v-model="question.user_answer">
                  <span>{{item.text}}</span>
                </div>

                <div class="textQuiz__text" v-else>
                  <input class="textQuiz__text-input" type="text" placeholder="Ваш вариант ответа"  v-model="question.user_answer">
                </div>
               
              </label>
            </div>
        </div>
    </div>
</template>

<script>
import "../styles/main.sass"
import $ from "jquery"
import progressBar from "./progressBar"

export default {
  name: 'App',
  props:{
    question: Object,
    progress: Number
  },
  components: {
    progressBar
  },
  data:function() {
    return {}
  },
  computed:{

  },
  created:function() {
    console.dir(this.question)
  },
  updated() {
    console.log(this.question.user_answer)
  },
  methods: {
    choosing() {  
      console.dir(this.question) 
      $(".textQuiz__answer_block").each((i, elem)=>{
        if (!$(elem).find("input").prop("checked")) {
          $(elem).removeClass("textQuiz__answer_choosen")
        } else {
          $(elem).addClass("textQuiz__answer_choosen")
        }
      })
    }
  }
}
</script>

<style>
</style>